{% extends "via/sidebar.html" %}
{% block content %}
    <div class="pcoded-inner-content">
        <div class="page-wrapper">
            <div class="card-block danger-breadcrumb">
                <div class="breadcrumb-header">
                    <h4>Выберите проект в меню слева</h4>
                    <span>Пожалуйста, договоритесь со своими коллегами об очередности разметки,
                            когда совместно работаете над одним проектом</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}